@{
    ViewBag.Title = "Facturi";
}

<h2>Facturi</h2>

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Incarca fisierul cu facturi:</span>
        <input type="file" name="postedFile" />
        <hr />
        <input type="submit" value="Upload" />
        <span style="color:green">@ViewBag.Message</span>
    }

</div>

<br />
<input type="button" value="Genereaza Fisierele" onclick="location.href='@Url.Action("ProcessFiles","Home")'" />

<br />